.header-site {
    background-image: url(../img/bg.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    /* cobre todo o espaço da tela */
    background-size: cover;
    /* com isso a imagem não sai do local */
    background-attachment: fixed;
    color: red  ;
    padding-top: 300px;
    padding-bottom: 300px;
}

.content-site {
    padding-top: 200px;
    padding-bottom: 200px;    
}

.img-site {
    background-image: url(../img/bg.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    /* cobre todo o espaço da tela */
    background-size: cover;
    /* com isso a imagem não sai do local */
    background-attachment: fixed;
    color: #ffffff;
    padding-top: 200px;
    padding-bottom: 200px;    
}

.footer-site {
    background-color: #333333;
    color: #ffffff;
    padding-top: 50px;
    padding-bottom: 50px;
}